@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

.form {
  position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    display: block;
    width: 100%;
    max-width: 500px;
    background-color: #FFF;
    margin: 0;
    padding: 2.25em;
    box-sizing: border-box;
    border: solid 1px #DDD;
    border-radius: .5em;
    font-family: 'Source Sans Pro', sans-serif;
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 1.25em;
}
.form selectdiv {
  position: absolute;
  /*Don't really need this just for demo styling*/

  min-width: 500px;
  margin: 50px 33%;
}

/* IE11 hide native button (thanks Matt!) */

.selectdiv select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Add some styling */

  display: block;
  width: 100%;
  max-width: 500px;
  height: 50px;
  float: left;
  margin: 0 0 15px;
  padding: 0px 15px;
  font-size: 1.25em;
  line-height: 2.75;
  color: #333;
  background-color: #f2f2f2;
  background: url(https://image.flaticon.com/icons/svg/60/60995.svg) 96% / 8% no-repeat #EEE;
  border: 1px solid #cccccc;
  -ms-word-break: normal;
  word-break: normal;
}
.main {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  background-color: white;
  padding: 0px;
}
.GFG {
  text-align: center;
  padding: 0px;
  font-size: 14px;
}
.Geeks1 {
  grid-row-start: 1;
}
.span{
display: inline-block;
line-height: 0.3em !important
}

.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4eb8dd;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 1.25em;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #4eb8dd;
}
.form .message {
  margin: 15px 0 0;
  color: #000000;
  font-size: 1em;
}
.form .message a {
  color: #000080;
  text-decoration: none;
}
.form .center{
  text-align: center;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
body {
  background: #4eb8dd; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #4eb8dd, #8DC26F);
  background: -moz-linear-gradient(right, #4eb8dd, #8DC26F);
  background: -o-linear-gradient(right, #4eb8dd, #8DC26F);
  background: linear-gradient(to left, #4eb8dd, #8DC26F);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}