<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Login</title>
</head>

<body>
<div>
    <div>
        <form th:action="@{/login}" method="POST" class="form-signin">
            <h3 class="form-signin-heading" th:text="Login"></h3>
            <br /> <input type="text" id="email" name="email" th:placeholder="Email" class="form-control" /> <br /><input type="password" th:placeholder="Password" id="password" name="password" class="form-control" /><br />

            <div th:if="${param.error}">
                <p>Email or Password is invalid.</p>
            </div>
            <button class="btn btn-lg btn-primary" name="Submit" value="Login" type="Submit" th:text="Login"></button>
            <a href="/recover-password">Forgot password?</a>
        </form>
    </div>
</div>
</body>
</html>