<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Register New User</title>
    <link rel="stylesheet" href="/css/style2.css">
    <link rel="stylesheet" href="/css/jquery.passwordRequirements.css">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="/js/jquery.passwordRequirements.min.js"></script>
    <script>
        /* trigger when page is ready */
        $(document).ready(function () {
            $(".pr-password").passwordRequirements({

            });
        });
    </script>

</head>

<body>
<!-- partial:index.partial.html -->
<div class="login-page">
    <div class="form">
<!--        <h2 style="text-align:center">Create An Account!</h2>-->
        <form class="login-form" id="form_register" autocomplete="off" th:action="@{/register}" th:object="${user}"
              method="post">
            <div class="main">
                <div class="Geeks1 GFG">
            <input type="text" name="firstname" id="form_fname" placeholder="First Name" required />
            <span class="error_form" style="color:red" id="fname_error_message"></span>
                </div>
                <div class="Geeks2 GFG">
            <input type="text" name="lastname" id="form_sname" placeholder="Last Name" required/>
            <span class="error_form" id="sname_error_message"></span>
                </div>
            </div>
            <div class="main">
                <div class=""Geeks1 GFG>
            <input type="email" name="email" id="form_email" placeholder="Email" required/>
            <span class="error_form" id="email_error_message"></span>
                </div>
                <div class="Geeks2 GFG">
            <input type="text" name="username" id="form_username" placeholder="Username" required />
                    <span class="error_form" id="username_error_message"></span>
                </div>
            </div>
            <input type="password" id="form_password" name="password" placeholder="Password" class="pr-password form-control">
            <span class="error_form" id="password_error_message"></span>
            <input type="password" id="form_retype_password" placeholder="Confirm Password" required>
            <span class="error_form" id="retype_password_error_message"></span>
            <div class="selectdiv">
                <label>
            <select name="security" id="questions" form="form_register">
                <option disabled selected value>--Select Security Question--</option>
                <option value="food">Which is your favourite food?</option>
                <option value="colour">Which is your favourite colour?</option>
                <option value="game">Which is your favourite game?</option>
                <option value="show">Which is your favourite show?</option>
            </select>
                </label>
            </div>
            <input type="text" name="answer" id="form_answer" placeholder="Your Answer" required />
            <span class="error_form" id="answer_error_message"></span>
            <button type="submit" class="btn btn-primary btn-block">Register Now</button>
<!--            <div class="alert alert-error"-->
<!--                 th:if="${(bindingResult != null && bindingResult.getAllErrors() != null)}">-->
<!--                <div class="alert alert-error" th:each="data : ${bindingResult.getAllErrors()}">-->
<!--                    <p class="message" style="color:red;" th:text="${data.getDefaultMessage()}"></p>-->
<!--                </div>-->
<!--            </div>-->
<!--            <span class="message" style="color:red;" th:utext="${failureMessage}"></span>-->
<!--            <span class="message" style="color:green;" th:utext="${successMessage}"></span>-->
            <p class="message" align="center"><a href="forgot">Forgot Password?</a></p>
            <p class="message" align="center"><a href="login">Already registered? Sign In!</a></p>
        </form>
    </div>
</div>
<!-- partial -->
<!--<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>-->
<!--<script src="/js/script.js"></script>-->
<script type="text/javascript">
            $(function () {

                $("#fname_error_message").hide();
                $("#sname_error_message").hide();
                $("#email_error_message").hide();
                $("#password_error_message").hide();
                $("#retype_password_error_message").hide();
                $("#username_error_message").hide();
                $("#answer_error_message").hide();

                var error_fname = false;
                var error_sname = false;
                var error_email = false;
                var error_password = false;
                var error_retype_password = false;
                var error_username = false;
                var error_answer = false;

                $("#form_fname").focusout(function () {
                    check_fname();
                });
                $("#form_sname").focusout(function () {
                    check_sname();
                });
                $("#form_email").focusout(function () {
                    check_email();
                });
                $("#form_password").focusout(function () {
                    check_password();
                });
                $("#form_retype_password").focusout(function () {
                    check_retype_password();
                });
                $("#form_username").focusout(function() {
                    check_username();
                });
                $("#form_answer").focusout(function() {
                    check_answer();
                });

                function check_fname() {
                    var pattern = /^[a-zA-Z]*$/;
                    var fname = $("#form_fname").val();
                    if (pattern.test(fname) && fname !== '') {
                        $("#fname_error_message").hide();
                        $("#form_fname").css("border-bottom", "2px solid #34F458");
                    } else {
                        $("#fname_error_message").html(""); //-------
                        $("#fname_error_message").hide();   // hide to show
                        $("#form_fname").css("border-bottom", "2px solid #F90A0A");
                        error_fname = true;
                    }
                }

                function check_sname() {
                    var pattern = /^[a-zA-Z]*$/;
                    var sname = $("#form_sname").val()
                    if (pattern.test(sname) && sname !== '') {
                        $("#sname_error_message").hide();
                        $("#form_sname").css("border-bottom", "2px solid #34F458");
                    } else {
                        $("#sname_error_message").html("");    //------
                        $("#sname_error_message").hide();     // hide to show
                        $("#form_sname").css("border-bottom", "2px solid #F90A0A");
                        error_fname = true;
                    }
                }

                function check_password() {
                    var password_val = $("#form_password").val();
                    var password_pattern = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;
                    if (password_pattern.test(password_val) && password_val !== '') {
                        $("#password_error_message").hide();
                        $("#form_password").css("border-bottom", "2px solid #34F458");
                    } else {
                        $("#password_error_message").html(""); //-----
                        $("#password_error_message").hide();    // hide to show
                        $("#form_password").css("border-bottom", "2px solid #F90A0A");
                        error_password = true;
                    }
                }

                function check_retype_password() {
                    var password = $("#form_password").val();
                    var retype_password = $("#form_retype_password").val();
                    if (password !== retype_password) {
                        $("#retype_password_error_message").html(""); //-----
                        $("#retype_password_error_message").hide();   //hide to show
                        $("#form_retype_password").css("border-bottom", "2px solid #F90A0A");
                        error_retype_password = true;
                    } else {
                        $("#retype_password_error_message").hide();
                        $("#form_retype_password").css("border-bottom", "2px solid #34F458");
                    }
                }

                function check_email() {
                    var pattern = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
                    var email = $("#form_email").val();
                    if (pattern.test(email) && email !== '') {
                        $("#email_error_message").hide();
                        $("#form_email").css("border-bottom", "2px solid #34F458");
                    } else {
                        $("#email_error_message").html("");   //-----
                        $("#email_error_message").show();    // hide to show
                        $("#form_email").css("border-bottom", "2px solid #F90A0A");
                        error_email = true;
                    }
                }

                function check_username() {
                    var username_length = $("#form_username").val().length;
                    if (username_length < 5) {
                        $("#username_error_message").html(""); //-------
                        $("#username_error_message").hide();   // hide to show
                        $("#form_username").css("border-bottom", "2px solid #F90A0A");
                        error_username = true;

                    } else {
                        $("#username_error_message").hide();
                        $("#form_username").css("border-bottom", "2px solid #34F458");
                    }
                }

                function check_answer() {
                    var answer = $("#form_answer").val();
                    if (answer!== '') {
                        $("#answer_error_message").hide();
                        $("#form_answer").css("border-bottom", "2px solid #34F458");
                    } else {
                        $("#answer_error_message").html(""); //-------
                        $("#answer_error_message").hide();   // hide to show
                        $("#form_answer").css("border-bottom", "2px solid #F90A0A");
                        error_answer = true;
                    }
                }

                $("#form_register").submit(function () {
                    error_fname = false;
                    error_sname = false;
                    error_email = false;
                    error_password = false;
                    error_retype_password = false;
                    error_username = false;
                    error_answer = false;

                    check_fname();
                    check_sname();
                    check_email();
                    check_password();
                    check_retype_password();
                    check_username();
                    check_answer();

                    if (error_fname === false && error_sname === false && error_email === false && error_password === false && error_retype_password === false && error_username === false && error_answer === false) {
                        alert("User Registered Successfully");
                        return true;
                    } else {
                        alert("Please Fill the form Correctly");
                        return false;
                    }


                });
            });

        </script>
</body>

</html>